{% extends 'base.html.twig' %}

{% block title %}
    Каталог
{% endblock %}

{% block content %}
    <h1>Каталог</h1>

    {% if products | length > 0 %}
        {% for p in products %}
            <div>
                <p>{{ p.name }}</p>
                <p>{{ p.price }}</p>
                <p>{{ p.body | raw }}</p>
                <p><a href="{{ path('product_category', {'slug':p.productCategory.slug}) }}">{{ p.productCategory.name }}</a></p>
            </div>
        {% endfor %}
    {% else %}
        <h3>Пока что не создано товаров</h3>
    {% endif %}

{% endblock %}
